<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>almabaw.waterio</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>waterio</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>x-apple-health</string>
	</array>
	<key>NSHealthShareUsageDescription</key>
	<string>Waterio reads your water intake from Health to show it in the widget.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Waterio logs the water you drink to Health.</string>
</dict>
</plist>
